In [123]:
# ensure that any code changes are immediately reflected
%reload_ext autoreload
%autoreload 2

In [124]:
import os

import pandas as pd
import numpy as np

os.environ['MOSTLY_AI_PASSWORD'] = 'Mostly01!'

from mostlyai import MostlyAI
client = MostlyAI(
    # api_key = 'xxx',         # or MOSTLYAI_API_KEY env var; this is bound to a single user account
    # base_url = 'https://..'  # optional; defaults to our free version
)

In [125]:
df = pd.DataFrame({'name': np.random.choice(['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 10_000), 
                   'age': np.random.randint(18, 65, size=10_000), 
                   'income': np.random.normal(50000, 15000, 10_000)})
df

         name  age        income
0       Alice   36  53969.872512
1     Charlie   20  38834.857803
2     Charlie   35  47755.453482
3         Eva   21  34653.502691
4     Charlie   35  39718.652251
...       ...  ...           ...
9995    David   31  68713.493153
9996    David   63  35817.051321
9997      Eva   47  78398.383316
9998      Bob   22  31487.160877
9999    David   27  54950.539881

[10000 rows x 3 columns]

In [126]:
g = client.generators.create(tables=[{'data': df, 'name': 'michi'}], start=True, wait=True)

Job status:   0%|          | 0/6 [00:00<?, ?it/s]

Job status:   0%|          | 0/6 [00:05<?, ?it/s]

Job status:  17%|█▋        | 1/6 [00:10<00:25,  5.14s/it]

Job status:  67%|██████▋   | 4/6 [00:15<00:04,  2.36s/it]

Job status: 7it [00:20,  2.01s/it]

Job status: 12it [00:25,  1.46s/it]

Job status: 18it [00:35,  1.99s/it]

Job finished in 35.9s

In [127]:
sd = client.synthetic_datasets.create(generatorId=g.id, start=True, wait=True)

Job status:   0%|          | 0/3 [00:00<?, ?it/s]

Job status:   0%|          | 0/3 [00:05<?, ?it/s]

Job status:  33%|███▎      | 1/3 [00:10<00:10,  5.14s/it]

Job status: 4it [00:20,  5.12s/it]

Job finished in 20.6s

In [130]:
dfs = sd.data()
dfs

{'michi':          name  age        income
 0         Eva   24  64436.764247
 1         Eva   33  69709.982162
 2         Eva   34  36494.673346
 3       Alice   50  48736.696826
 4       David   34   47059.36573
 ...       ...  ...           ...
 4995    David   43  35257.535767
 4996  Charlie   49  73341.506377
 4997      Eva   55   32104.20922
 4998      Bob   36  39389.385731
 4999    Alice   45  45681.861461

 [10000 rows x 3 columns]}